<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.test.viewdemo">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".DialogActivity"/>
        <activity
            android:name=".viewAnimationDemo.BaseViewAnimationDemoActivity"
            android:label="@string/title_activity_animation"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".AnimatorActivity"/>
        <activity android:name=".MarqueeViewActivity"/>
        <activity android:name=".coordinateDemo.CoordinatorDemoActivity"/>
        <activity android:name=".coordinateDemo.AppBarLayoutActivity"/>
        <activity android:name=".coordinateDemo.viewCompatOffsetDemo.ViewCompatDemoActivity"/>
        <activity android:name=".coordinateDemo.viewCompatOffsetDemo.ViewCompatOffsetHelperDemoActivity"/>
        <activity android:name=".DragViewActivity"/>
        <activity android:name=".ScrollerDemoActivity"/>
        <activity
            android:name=".practiceEditText.EditeTextActivity"
            android:windowSoftInputMode="stateVisible"/>
        <activity android:name=".RecyclerViewDemo.RecyclerViewDemoActivity">
        </activity>
        <activity android:name=".progressBarDemo.SeekBarDemoActivity"/>
        <activity android:name=".animationDrawable.AnimationTestOneActivity">
        </activity>
        <activity android:name=".animationDrawable.AnimationTestTwoActivity"/>
        <activity android:name=".viewAnimationDemo.LayoutAnimationDemoActivity"/>
        <activity android:name=".RecyclerViewDemo.AdapterDemo.DataBindingRecyclerViewActivity"/>
        <activity android:name=".TouchEventDemo.EventPassthroughActivity"/>
        <activity android:name=".measureDemo.MeasureDemoActivity">
        </activity>
        <activity android:name=".BaseDraw.LineActivity">
        </activity>
        <activity android:name=".RecyclerViewDemo.scrollDemo.RecyclerViewScrollDemoActivity">
        </activity>
        <activity android:name=".practiceEditText.TextViewDemoActivity">
        </activity>
        <activity android:name=".drawableDemo.DrawableDemoActivity">
        </activity>
        <activity android:name=".notificationDemo.NotificationDemoActivity">
        </activity>
        <activity
            android:name=".notificationDemo.TaskStackBuilderActivity"
            android:parentActivityName=".drawableDemo.DrawableDemoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".drawableDemo.DrawableDemoActivity"/>
        </activity>
        <activity
            android:name=".notificationDemo.InSingleTaskActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=".testAffinity">
        </activity>
        <activity android:name=".practiceEditText.SpannableDemoActivity">
        </activity>
        <activity android:name=".practiceEditText.EmotionTextViewActivity">
        </activity>
        <activity
            android:name=".animationDemo.MatrixDemoActivity"
            android:label="@string/title_activity_matrix_demo"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".DrawableTestActivity">
        </activity>
        <activity android:name=".SimpleViewTestActivity">
        </activity>
        <activity android:name=".dataBindingDemo.DataBindingDemoActivity">
        </activity>
        <activity android:name=".viewPager.extension.ViewPagerTabLayoutActivity">
        </activity>
        <activity android:name=".viewPager.viewpagerListener.ViewPagerLisenterActivity">
        </activity>
        <activity android:name=".viewPager.viewpagerListener.ListenerUseActivity">
        </activity>
        <activity android:name=".canvaseDemo.BaseCanvaseActivity">
        </activity>
        <activity android:name=".viewPager.viewpagerListener.customSlidingTabLayout.MyTabLayoutActivity">
        </activity>
        <activity android:name=".scrollViewDemo.ClipToPaddingActivity">
        </activity>
        <activity android:name=".nestedScrollDemo.BaseNestedScrollDemoActivity">
        </activity>
        <activity android:name=".measureDemo.learnMeasure.LearnMeasureActivity">
        </activity>
        <activity android:name=".viewPager.extensionvsion2.tabLayoutByViewPager.ViewPagerTabLayoutActivity">
        </activity>
        <activity android:name=".TouchEventDemo.DispatchTouchEventDemoActivity">
        </activity>
        <activity android:name=".BaseDraw.ScrollDemoActivity">
        </activity>
        <activity android:name=".animationDemo.ScrollToTestActivity">
        </activity>
        <activity android:name=".AnnotationDemo.AnnotaionDemoActivity">
        </activity>
        <activity android:name=".learnStructure.mvc.MVCDemoActivity">
        </activity>
        <activity android:name=".learnStructure.mvp.MVPDemoActivity">
        </activity>
        <activity android:name=".learnStructure.mvvm.MVVMDemoActivity">
        </activity>
        <activity android:name=".longImageLoad.LongImageLoadActivity">
        </activity>
        <activity android:name=".runtimePermission.RuntimePermissionDemoActivity">
        </activity>
        <activity android:name=".RxAndroidDemo.ShowAllAppActivity">
        </activity>
        <activity android:name=".RxAndroidDemo.ShowAllFromAppActivity">
        </activity>
        <activity android:name=".RxAndroidDemo.ShowAllJustAppActivity">
        </activity>
        <activity android:name=".media.RecordAudioActivity">
        </activity>
        <activity android:name=".bitmapDemo.BitmapDemoActivity">

        </activity>
        <activity android:name=".cameraDemo.CameraDActivity"
            android:screenOrientation="landscape"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>